.BodyMenu {
    background-color: whitesmoke;
    padding-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BodyTable {
    padding-top: 130px;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    align-items: center;

}

.BodyMenu-Lesson{
    position: absolute;
    /* top:50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    width:100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}