.Body {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .BackTopLeft {
    padding-top: 130px;
    display: flex;
    justify-content: left;
} */

.BodyTable {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
}

.BodyMenu-Lesson{
    position: absolute;
    /* setting the z index so that
    none of the components display above header
    or footer */
    z-index: -1;
    width:100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    /* margin:auto; */
}