.Header {
    background-color: #282c34;
    /* position: fixed; */
    position: absolute;
    top: 0;
    min-height: 5vh;
    width:100%;
    z-index: 10;
}

.Header-Title{
    position: flex;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
}

.Header-Hamburger {
    background-color: #282c34;
    position:absolute;
    transition: .5s ease;
    top: 20%;
    left: 90%;
    /* position: fixed;
    top: 5%;
    left: 95%;
    transform: translate(-50%,-50%); */

}

.Header-Hamburger-Menu {
    margin: 0;
    border-radius: 3px;
    background: tomato;
    min-width: 12vh;
    padding: 1vh;
    list-style: none;
    text-align: left;
    color: white;
}

.Footer {
    background-color: #282c34;
    position: fixed;
    bottom: 0;
    min-height: 4vh;
    width: 100%;
}

.Footer-Title{
    position: flex;
    bottom: 0;
    left: 0;
    text-align: center;
    color:white;

}